* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    text-align: center;
}
h3, h4 {
    vertical-align: top;
}
h1 {
    padding-bottom: .5em;
    color: rgb(106, 104, 103);
}
h2 {
    color: rgb(106, 104, 103);
    font-size: 20px;
}
h3 {
    padding-bottom: .75em;
    letter-spacing: 1.25px;
}
hr {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 1.75em;
}
#header {
    padding:2em 0;
}
#content {
    width: 22em;
    padding-bottom: 2em;
    height: 200px;
}
button {
    width: 380px;;
   color: rgb(106, 104, 103);
   padding: 1em 0;
   font-size: 20px;
   border: none;
}
button:hover {
    background-color: rgb(245, 245, 245);
}
@media only screen and (max-width: 900px) {
    button {
        width: 100%;
        color: rgb(106, 104, 103);
        padding: 1em 0;
        font-size: 20px;
        border: none;
        position: fixed;
        bottom: 0;
     }
     #content {
        width: 15em;
        padding-bottom: 2em;
        height: 200px;
    }
  }